<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Audiencias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg px-4">
        <div class="container-fluid">
            <span class="navbar-brand">GESTIÓN DE AUDIENCIAS</span>
            <a href="#" class="btn btn-outline-secondary" [routerLink]="'/crear-audiencia'">+ Nuevo</a>

        </div>
    </nav>

    <div class="container mt-4">
        <h2 class="text-white bg-dark p-2 text-center d-flex justify-content-between align-items-center">
            Consulta de Audiencias
            <button (click)="toggleFormulario()" class="btn btn-light">
                {{ mostrarFormulario ? '▲' : '▼' }}
            </button>
        </h2>

        <!-- Formulario de búsqueda -->
        <div *ngIf="mostrarFormulario" class="p-3 bg-light border rounded">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Distrito Judicial</label>
                    <!-- ngModel Conecta el <select> con la variable distritoSeleccionado en el código TypeScript -->
                    <!-- (change)="actualizarDatos()" → Cuando el usuario cambia la selección, se llama a la función actualizarDatos(). -->
                    <select [(ngModel)]="distritoSeleccionado" (change)="actualizarDatos()" class="form-control">
                        <option value="">Seleccione</option>
                        <option value="Distrito Capital">Distrito Capital</option>
                        <option value="Distrito Sur">Distrito Sur</option>
                        <option value="Distrito Norte">Distrito Norte</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Juez</label>
                    <select [(ngModel)]="juezSeleccionado" class="form-control">
                        <option value="">Seleccione</option>
                        <!-- {{ juez }} es Interpolación, Angular insertará el valor de juez dentro de la etiqueta <option>.La interpolación en Angular es una forma de mostrar valores dinámicos en el HTML desde el TypeScript. Se usa con {{ }} (doble llave) para insertar valores dentro del código HTML.-->
                        <option *ngFor="let juez of juecesDisponibles" [value]="juez">{{ juez }}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Fiscal</label>
                    <select [(ngModel)]="fiscalSeleccionado" class="form-control">
                        <option value="">Seleccione</option>
                        <option *ngFor="let fiscal of fiscalesDisponibles" [value]="fiscal">{{ fiscal }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Sala</label>
                    <select [(ngModel)]="salaSeleccionada" class="form-control">
                        <option value="">Seleccione</option>
                        <option *ngFor="let sala of salasDisponibles" [value]="sala">{{ sala }}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Fecha</label>
                    <input type="date" class="form-control" [(ngModel)]="fechaSeleccionada">
                </div>
                <div class="col-md-6">
                    <label>Estado</label>
                    <select class="form-control" [(ngModel)]="estadoSeleccionado">
                        <option value="">Seleccione</option>
                        <option value="Realizada">Realizada</option>
                        <option value="Programada">Programada</option>
                        <option value="Demorada">Demorada</option>
                        <option value="Suspendida">Suspendida</option>
                    </select>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <button (click)="filtrarAudiencias()" class="btn btn-primary">Buscar</button>
                <button (click)="borrarFiltros()" class="btn btn-secondary">Borrar filtros</button>
            </div>
        </div>

        <!-- Tabla de audiencias -->
        <div class="consulta-box mt-3">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Hora Inicio</th>
                        <th>Distrito</th>
                        <th>Sala</th>
                        <th>Nombre</th>
                        <!--  Solo se muestra si tieneCuij() es true. -->
                        <th *ngIf="tieneCuij()">CUIJ</th>
                        <th *ngIf="tieneCaratula()">Carátula</th>
                        <th>Juez</th>
                        <th>Fiscal</th>
                        <th>Defensor</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let audiencia of audienciasFiltradas">
                        <td>{{ audiencia.aud_hora | hora }}</td>
                        <td>{{ audiencia.sal_id.distrito.dis_nombre }}</td>
                        <td>{{ audiencia.sal_id.sal_nombre }}</td>
                        <td>{{ audiencia.aud_nombre }}</td>
                        <!--  Solo se muestra si tieneCuij() es true. -->
                        <td *ngIf="tieneCuij()">{{ audiencia.aud_cuij ? audiencia.aud_cuij: '-'  }}</td>
                        <td *ngIf="tieneCaratula()">{{ audiencia.aud_caratula ? audiencia.aud_caratula: '-'  }}</td>
                        <td>{{ audiencia.juez }}</td>
                        <td>{{ audiencia.fiscal }}</td>
                        <td>{{ audiencia.defensor }}</td>
                        <td>{{ audiencia.aud_fecha }}</td>
                        <td>{{ audiencia.aud_tipo }}</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center gap-3">
                                <i class="bi bi-pencil text-primary" [routerLink]="['/editar-audiencia', audiencia.aud_id]"></i>
                                <i class="bi bi-trash text-danger" (click)="eliminarAudiencia(audiencia.aud_id)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <button class="btn btn-outline-secondary" [routerLink]="''">Volver</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>