<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Datos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="btn btn-outline-secondary" [routerLink]="''">Volver</button>
            <span class="navbar-brand mx-auto font-weight-bold text-dark titulo">GESTIÓN DE USUARIOS</span>
            <a class="btn btn-outline-success" [routerLink]="'/crear-usuario'">+ Nuevo</a>
        </div>
    </nav>
    

<div class="container-fluid mt-3">
    <div class="card w-100 mx-auto p-4 border-success">
        <h5 class="card-header bg-success text-white text-center">Opciones de Búsqueda</h5>
        <div class="card-body">
            <form (ngSubmit)="filtrarUsuarios()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">Correo</label>
                            <input type="email" class="form-control" placeholder="Ingrese Correo" [(ngModel)]="correoFiltro" name="correo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" placeholder="Ingrese Nombre de usuario" [(ngModel)]="usuarioFiltro" name="usuario">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label class="form-label">Rol</label>
                            <select class="form-select" [(ngModel)]="rolFiltro" name="rol">
                                <option disabled selected value="">Seleccione</option>
                                <option value="Operador">Operador</option>
                                <option value="Autoridad">Autoridad</option>
                                <option value="Administrador">Administrador</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-3 filtro__btn">
                    <button type="submit" class="btn btn-outline-primary" (click)="filtrarUsuarios()">Buscar</button>
                    <button type="button" class="btn btn-outline-secondary" (click)="reiniciarFiltros()">Reiniciar filtros</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="consulta-box mt-3 table-responsive mt-4">
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Usuario</th>
                <th>Correo</th>
                <th>Rol</th>
                <th class="text-center">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuariosFiltrados">
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.username || '-' }}</td>
                <td>{{ usuario.correo }}</td>
                <td>{{ usuario.rol || '-' }}</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center gap-2">
                        <!-- Si usuario.rol es igual a 'autoridad', devuelve 'autoridad'. Si no, devuelve 'usuario'. -->
                        <button class="btn btn-sm btn-outline-primary btn__acciones" [routerLink]="['/editar-usuario', usuario.rol === 'Autoridad' ? 'Autoridad' : 'Usuario', usuario.id]">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-sm btn-outline-danger btn__acciones" (click)="eliminarUsuario(usuario.id, usuario.rol)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>