<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Audiencia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h2 class="text-white bg-dark p-2 text-center">Agregar Nueva Audiencia</h2>
    
        <form (ngSubmit)="guardarAudiencia()" class="bg-light p-4 border rounded">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Hora Inicio</label>
                    <input type="time" [(ngModel)]="audiencia.hora" name="hora" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label>Distrito Judicial</label>
                    <select [(ngModel)]="audiencia.distrito" name="distrito" class="form-control" required>
                        <option value="">Seleccione</option>
                        <option value="Distrito Capital">Distrito Capital</option>
                        <option value="Distrito Sur">Distrito Sur</option>
                        <option value="Distrito Norte">Distrito Norte</option>
                    </select>                
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Sala</label>
                    <select [(ngModel)]="audiencia.sala" name="sala" class="form-control" required>
                        <option value="">Seleccione</option>
                        <!-- Distrito Capital -->
                        <option *ngIf="audiencia.distrito === 'Distrito Capital'" value="Sala Penal 1">Sala Penal 1</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Capital'" value="Sala Civil 1">Sala Civil 1</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Capital'" value="Sala Familia 1">Sala Familia 1</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Capital'" value="Cámara Gessel 1">Cámara Gessel 1</option>

                        <option *ngIf="audiencia.distrito === 'Distrito Sur'" value="Sala Penal 2">Sala Penal 2</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Sur'" value="Sala Civil 2">Sala Civil 2</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Sur'" value="Sala Familia 2">Sala Familia 2</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Sur'" value="Cámara Gessel 2">Cámara Gessel 2</option>

                        <option *ngIf="audiencia.distrito === 'Distrito Norte'" value="Sala Penal 3">Sala Penal 3</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Norte'" value="Sala Civil 3">Sala Civil 3</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Norte'" value="Sala Familia 3">Sala Familia 3</option>
                        <option *ngIf="audiencia.distrito === 'Distrito Norte'" value="Cámara Gessel 3">Cámara Gessel 3</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>CUIJ</label>
                    <input type="text" [(ngModel)]="audiencia.cuij" name="cuij" class="form-control" required>
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Carátula</label>
                    <input type="text" [(ngModel)]="audiencia.caratula" name="caratula" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="audiencia.nombre" name="tipo" class="form-control" required>
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Juez</label>
                    <input type="text" [(ngModel)]="audiencia.juez" name="juez" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label>Fiscal</label>
                    <input type="text" [(ngModel)]="audiencia.fiscal" name="fiscal" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label>Defensor</label>
                    <input type="text" [(ngModel)]="audiencia.defensor" name="defensor" class="form-control" required>
                </div>
            </div>
    
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Estado</label>
                    <select [(ngModel)]="audiencia.estado" name="estado" class="form-control" required>
                        <option value="Realizada">REALIZADA</option>
                        <option value="Programada">PROGRAMADA</option>
                        <option value="Demorada">DEMORADA</option>
                        <option value="Suspendida">SUSPENDIDA</option>
                    </select>
                </div>
            </div>
    
            <button type="submit" class="btn btn-success">Guardar Audiencia</button>
            <div class="d-flex justify-content-end mt-3">
                <a [routerLink]="'/lista-audiencias'" class="btn btn-secondary">Volver</a>
            </div> 
        </form>       
    </div>
    
</body>