<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Audiencia</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-1">
        <h2 class="text-white bg-dark p-2 text-center">Agregar Audiencia</h2>

        <form (ngSubmit)="guardarAudiencia()" class="bg-light p-4 border rounded">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Hora Inicio</label>
                    <input type="time" [(ngModel)]="audiencia.aud_hora" name="hora" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label>Fecha</label>
                    <input type="date" [(ngModel)]="audiencia.aud_fecha" name="fecha" class="form-control" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Carátula</label>
                    <input type="text" [(ngModel)]="audiencia.aud_caratula" name="caratula" class="form-control"
                        required>
                </div>
                <div class="col-md-4">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="audiencia.aud_nombre" name="nombre" class="form-control" required>
                </div>
                <div class="col-md-4">
                    <label>CUIJ</label>
                    <input type="number" [(ngModel)]="audiencia.aud_cuij" name="cuij" class="form-control" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Distrito Judicial</label>
                    <select [(ngModel)]="audiencia.sala.distrito.dis_nombre" 
                    name="audiencia.sala.distrito.dis_nombre" class="form-control" required disabled>
                        <option *ngIf="distritoUsuario" disabled selected [value]="distritoUsuario.dis_nombre">{{ distritoUsuario.dis_nombre }}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Sala</label>
                    <select [(ngModel)]="audiencia.sala.sal_id" name="sal_id" class="form-control" required>
                        <option disabled selected value="0">Seleccione</option>

                        <!-- Distrito Capital -->
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Capital'" [value]="1">Sala
                            Penal 1</option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Capital'" [value]="2">Sala
                            Civil 1</option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Capital'" [value]="3">Sala
                            Familia 1</option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Capital'" [value]="4">Cámara
                            Gessel 1</option>

                        <!-- Distrito Sur -->
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Sur'" [value]="5">Sala Penal 2
                        </option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Sur'" [value]="6">Sala Civil 2
                        </option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Sur'" [value]="7">Sala Familia
                            2</option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Sur'" [value]="8">Cámara
                            Gessel 2</option>

                        <!-- Distrito Norte -->
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Norte'" [value]="9">Sala Penal
                            3</option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Norte'" [value]="10">Sala
                            Civil 3</option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Norte'" [value]="11">Sala
                            Familia 3</option>
                        <option *ngIf="audiencia.sala.distrito.dis_nombre === 'Distrito Norte'" [value]="12">Cámara
                            Gessel 3</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Juez</label>
                    <select [(ngModel)]="juez" name="juez" class="form-control" required>
                        <option selected value="0" disabled>Seleccione</option>
                        <option *ngFor="let juez of autoridadesJuez" [value]="juez.aut_id">{{ juez.aut_nombre }}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Fiscal</label>
                    <select [(ngModel)]="fiscal" name="fiscal" class="form-control" required>
                        <option selected value="0" disabled>Seleccione</option>
                        <option *ngFor="let fiscal of autoridadesFiscal" [value]="fiscal.aut_id">{{ fiscal.aut_nombre }}
                        </option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Defensor</label>
                    <select [(ngModel)]="defensor" name="defensor" class="form-control" required>
                        <option selected value="0" disabled>Seleccione</option>
                        <option *ngFor="let defensor of autoridadesDefensor" [value]="defensor.aut_id">{{
                            defensor.aut_nombre }}</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Estado</label>
                    <select [(ngModel)]="audiencia.aud_tipo" name="tipo" class="form-control" required>
                        <option value="Programada">Programada</option>
                        <option value="Demorada">Demorada</option>
                        <option value="Suspendida">Suspendida</option>
                    </select>
                </div>
                <div class="col-md-8 d-flex justify-content-end align-items-end">
                    <button type="submit" class="btn btn-success me-2">Guardar Audiencia</button>
                    <a [routerLink]="'/lista-audiencias'" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </form>
    </div>

</body>